body{

	
	padding: 20px;
	text-align: center;
	vertical-align: center;
}

.title{

	font-size: 40px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-shadow: 0px 2px 1px DarkGray;
}

.field{

	margin-top: 20px;
	margin-bottom: 5px;
	padding: 10px;
	outline: 2px black solid;
	color: gray;
}

.field:focus{

	color: black;
}

.button {
margin: 20px;
  font-family: Arial;
  color: #fff7ff;
  font-size: 25px;
  padding: 5px;
  background: #5ca8db;
  border: solid #8e89d9 4px;
  text-decoration: none;
}

.button:active {
  background-color: LightBlue;
  transform: translateY(4px);
}
